#container-content{
    width: 90%;
    margin: 0 auto;
}

#container-text
{
    text-align: center;
}

#container-text textarea
{
    resize : none;
    padding: 10px;
}

#container-tags
{
    margin-top: 3%;
}

#tags{
    width: 58%;
    padding: 5px;
}

#container-response{
    padding: 10px;
    margin-left: 100px;
    margin-top: 50px;
    transition:2s;
}

#container-results{
    margin-top: 20px;
}

#table-results{
    margin-top: 20px;
}

.valid{
    color: green;
}

.error{
    color: red;
}

.edit-panel
{
    position: absolute;
    z-index: 10;
    top: 200px;
    left: 200px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 70px;
}

.edit-overlay
{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    margin-top: -20px;
}

#list_actions
{
    list-style: none;
    margin-left: -30px;
}

.action
{
    padding: 2px;
}

.action button
{
    width: 90%;
    text-align: center;
}

.close-cross
{
    position: absolute;
    z-index: 20;
    top: 40px;
    left: 830px;
    font-size: 2em;
    color: white;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    cursor: pointer;
}