<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>OVH Logging</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body ng-app="OVH Logging">

        <div id="container-content">

            <div class="alert alert-{{alert.type}} alert-dismissible" role="alert" ng-repeat="alert in alerts">
              <button type="button" class="close" ng-click="deleteAlert($index)" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <p>{{alert.msg}}</p>
            </div>

            <img ng-src="{{ 'http://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Logo_ovh.svg/220px-Logo_ovh.svg.png' | base64 }}" alt="">

            <h1 class="text-center">OVH Logging</h1>

            <div id="daily-container"ng-controller="SendCtrl">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xs-12" id="container-text">
                        <textarea name="daily_news" id="daily_new" cols="100" rows="10" ng-model="text" placeholder="Rapport de la journée">
                        </textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xs-6" id="container-tags">
                        <label for="tags">Tags:</label>
                        <input type="text" name="tags" id="tags" ng-model="tags" placeholder="tags">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xs-3" id="container-tags">
                        <div class="row">
                            <div class="">
                                <p class="input-group">
                                  <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  ng-required="true" close-text="Close" />
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xs-3" id="container-tags">
                        <button class="btn btn-primary" value="Envoyer les données" ng-click="sendToES();">Envoyer les données</button>
                    </div>
                </div>
            </div>

            <div id="container-results" ng-controller="GetCtrl">
                <div class="row">
                    <div class="col-md-1">
                        <button class="btn btn-success" ng-click="getFromES();">Get values</button>
                    </div>
                </div>

                <div id="table-results" class="row" ng-show="data">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Tags</th>
                                <th>Actions</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="log in data | orderBy:'_source.date'">
                                    <td>{{log._source.date}}</td>
                                    <td ><div marked="log._source.text"></div></td>
                                    <td>
                                        <ul>
                                            <li ng-repeat="tag in log._source.tags">{{tag}}</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul id="list_actions">
                                            <li class="action"><button class="btn btn-danger" ng-click="deleteFromES(log._id);">Supprimer l'entrée</button></li>
                                            <li class="action"><button class="btn btn-info" ng-click="editESevent(log);">Modifier l'entrée</button></li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div id="edition-container" ng-controller="EditCtrl" ng-show="edition">

            <div class="edit-overlay" ng-show="edition"></div>
            <div id="edit-panel-container">
                <div class="edit-panel">
                    <div class="close-cross" ng-click="closeEdition();">
                        <span aria-hidden="true">&times;</span>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xs-12" id="container-text-edit">
                            <textarea cols="100" rows="10" ng-model="text_tmp" placeholder="Rapport de la journée">{{text_tmp}}</textarea>
                        </div>
                    <div class="row">
                        <div class="col-md-8 col-lg-8 col-xs-8" id="container-tags">
                            <label for="tags">Tags:</label>
                            <input type="text" name="tags-edit" id="tags-edit" placeholder="tags" ng-model="tags_tmp" value="{{tags_tmp}}">
                        </div>
                        <div class="col-md-1 col-lg-1 col-xs-1" id="container-tags">
                            <button class="btn btn-info" value="Editer les données" ng-click="editES();">Editer les données</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="node_modules/marked/lib/marked.js"></script>
        <script src="js/angular-marked.min.js"></script>
        <script src="js/angular-base64.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/ui-bootstrap.min.js"></script>
        <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    </body>
</html>